*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #3d618521; 
    color: darkblue;            
    font-family: 'Times New Roman', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    overflow-x: hidden;
    
}


nav{
    font-size: 1.7em;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(3, 3, 62); 
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;

}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    
}


ul{
    
    list-style: none;
    display: flex;    
}
ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 12px;
    transition: background-color 0.3s ease;
}
.active{
    color: rgba(17, 103, 195, 0.881);
}

ul li a:hover {
    color:  rgba(17, 103, 195, 0.881);
}

h1,h2,h3,h4,h5,h6{
    color: darkblue;
}


section {
    min-height: 100vh; 
    padding: 40px 0;  
    box-sizing: border-box;
    display: flex;        
    flex-direction: column;
    justify-content: center; 
}

button {
    background-color: #1a1a2e; 
    color: #ddd;
    border: none;
    padding: 5px;
    border-radius: 4px;
}
    
button:hover {
    background-color: #0f0f1a; 
    cursor: pointer;
}

.intro_section{
    height: 100vh;
    width: auto;
    background-image: url("/assets/background/pexels-geralt-21694.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    position: relative;
    z-index: -1;

    
}
.intro_section > h1{
    color: darkblue;
    text-shadow: 5px 5px 8px rgb(128, 193, 255);
}

.first_section{
    height: 100vh;
    width: 1000px;
    background-repeat: repeat;
    background-size:cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;
    font-size: 1.5em;
    flex-wrap: wrap;
    
    
}

.first_section  input{
    text-align: center;
    width: 70%;
    height: 0.3em;
    font-size: 0.9em;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    
}
.search-button{
    font-weight: bold;
    color: #ddd;
    background-color: darkblue;
    font-size: 1em;
    padding: 8px;
    border-radius: 15px;
    
}


.search-button:hover{
    background-color: #ddd;
    color: darkblue;
}

.featured-tyres-container{
    display: flex;
    justify-content: space-evenly;
    min-width: auto;    
    /* background-color: #fff; */
}

#tyre{
    width: 300px;
    height: 300px;
    padding: 8px;
}


.browse-brands-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.brand{
    height: 200px;
    width: 300px;
    
}

.testimonials{
    background-color: darkblue;
}

.testimonials-container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.testimony{
    color: rgb(167, 167, 237);
    height: auto;
    width: auto;
    background-color: rgb(2, 2, 46);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-wrap: wrap;
    margin: 20px;
    
}
.testimony .clientName{
    align-self: flex-end;
    margin-top: 30px;
    
}
.get-in-touch{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.footer-wrapper{
    color: darkblue;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.footer-content{
    padding: 50px;
    background: lightgray;
    width: 50%;
    height: auto;
}
.submit-btn{
    color: #ddd;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #1a1148;
}



.copyRight{
    background-color: #000;
    color: #f8f8f8a6;
    padding: 10px;
    text-align: center;
    width: 100%;
}





