*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #f8f9fa; 
    color: #212529;            
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    overflow-x: hidden;
}

nav{
    height: 60px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a2e; 
    /* color: #ffffff; */
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    
}


ul{
    
    list-style: none;
    display: flex;    
}
ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 12px;
    transition: background-color 0.3s ease;
}
.active{
    color: red;
}

ul li a:hover {
    /* background-color: #4d4d82; */
    color: #ff0800;
}



main{
    padding: 0 40px;    
}

section {
    min-height: 100vh; 
    padding: 40px 0;  
    box-sizing: border-box;
    display: flex;        
    flex-direction: column;
    justify-content: center; 
}

button {
    background-color: #1a1a2e; 
    color: #ddd;
    border: none;
    padding: 5px;
    border-radius: 4px;
}
    
button:hover {
    background-color: #0f0f1a; 
    cursor: pointer;
}

.featured-tyres-container{
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    padding: 50px;
    /* background-color: skyblue; */
    gap: 10px;
    /* width:fit-content; */
}

#tyre{
    width: 300px;
    height: 300px;
    border: 1px solid darkblue;
    padding: 8px;
}

.featured-tyres > h1{
    text-align: center;
    margin-bottom: 20px;
}

.browse-brands > h3{
    text-align: center;
}

.browse-brands-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.brand{
    height: 200px;
    width: 300px;
    
}
#tyre:hover{
    box-shadow: 2px 2px 8px rgb(13, 44, 134);
}

.testimonials h3, h4{
    text-align: center;
    margin-bottom: 20px;
}

.testimonials-container{
    display: flex;
    justify-content: center;
    /* background-color: limegreen; */
    gap: 10px;
    padding: 5px;
    
}

.testimony{
    height: 200px;
    width: 400px;
    background: #ddd;
    text-align: center;
    display: flex;
    color: #000;
    
}
.talk-to-us{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




























.copyRight{
    background-color: #000;
    color: #f8f8f8a6;
    padding: 10px;
    text-align: center;
    width: 100%;
}